.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 100%; 
  max-width: 600px; 
  padding: 30px;
  background-color: #fff; 
  box-shadow: none; 
}

.container h1 {
  text-align: center; 
  margin-bottom: 30px;
  font-size: 30px; 
  font-weight: bold;
  
  margin-bottom: 10px; 
  color: #333; 
}


.form label {
  font-weight: bold;
  justify-content: center;
  color: #333; 
}

.form input[type="text"],
.form textarea {
  width: 90%; 
  padding: 12px 0px;
  display: flex;
  justify-content: center; 
  border: none; 
  margin-top: 10px;
  border-radius: 5px; 
  margin-bottom: 15px;
  background-color: #f5f5f5; 
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); 
  font-size: 16px;
}

.form button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
  margin-bottom: 8px;
  margin-left: 10px;
  background-color: #00b894; 
  color: #fff;
}

.form button.secondary {
  background-color: #ddd; 
  color: #333;
}

.workout-plan-list {
  margin: 0 auto; 
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.workout-plan-title {
  margin-bottom: 20px; 
  margin-left: 50px;
  font-size: 24px;
  font-weight: bold;
}

.workout-plan {
  list-style: none; 
  padding: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.workout-plan strong {
  font-weight: bold;
  margin-bottom: 5px;
}

.workout-plan ul {
  margin: 0;
  padding: 0;
  list-style: none; 
}

.workout-plan button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
  background-color: #e00000; 
  color: #fff;
}

.button {
  padding: 7px 8px;
  margin-top: 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #00b894; 
  color: #fff;
}

.button:hover {
  background-color: #ddd; 
  color: #333;
}




